<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/tailwind.min.css" rel="stylesheet" />
    <title>Go Template</title>
  </head>
  <body>
    {{template "header.html"}}
    <h1>Registration Success</h1>
    <p>Your registration was successful!</p>
    <div>Username: {{.Username}}</div>
    <div>Role: {{.Role}}</div>
    {{template "footer.html"}}

    <!-- <script>
      const urlParams = new URLSearchParams(window.location.search);
      const role = urlParams.get("role");
      if (role === "admin") {
        console.log("User is an admin");
      } else {
        console.log("User is not an admin");
      }
    </script> -->
  </body>
</html>
